.button {
    color: #fefefe;
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    outline: 0;
    /* vertical-align: middle; */
    margin: 0;
    padding: 0.85rem 1rem;
    border: .5px solid #ffffff;
    border-radius: 3px;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    -webkit-appearance: none;
    line-height: 1;
    /* text-align: center; */
    position: relative;
    cursor: pointer;
}
.button:focus {
    background-color: #ff8b0f;
}
.button:hover {
    background-color: #ffffff;
}
.submit {
    background-color: #00e1df;
}
.submit:hover {
    color: #2ba6cb;
}
.button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}