html, body, #root, form {
  height: 100%;
}
html, body, input {
  padding: 0;
  margin: 0;
}
form {
  border: .1rem solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}
input[type=text] {
  background-color: rgba(0,204,255,.5);
  border-color: #ffffff;
  border-width: .125rem .125rem .12rem .125rem;
  border-radius: 4px;
  box-shadow: none;
  flex-grow: 1;
  font-size: 2rem;
  margin: 0;
  min-height: 4.5rem;
  width: 100%;
  &:focus {
    background-color: rgba(0,204,255,.75);
    border-color: #ffffff;
    border-width: .125rem .125rem .12rem .125rem;
    box-shadow: none;
    outline: 0;
  }
  &::placeholder {
    color: #ffffff;
  }
}

.btn-container {
  flex-grow: 50;
  > div:first-child {
    height: 20%;
    > div {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      height: 100%;
    }
  }
  > div:last-of-type {
    height: 80%;
  }
}

.grid-container, .grid-1, .grid-3, .grid-4 {
  display: grid;
}

.grid-container {
  grid-template-areas:
    'span-3 span-3 span-3 span-1';
  > div:first-child {
    grid-area: span-3;
    div {
      grid-template-columns: 1fr 1fr 1fr;
      height: 100%;
    }
  }
  > div:last-of-type {
    grid-area: span-1;
    div {
      grid-template-columns: 1fr;
      height: 100%;
    }
  }
}

button.group_1 {
  background-color: #ff7994;
  &:hover {
    background-color: rgba(255,121,148,.35);
    color: #ff7994;
  }
}
button.group_2 {
  background-color: #ffc900;
  &:hover {
    background-color: rgba(255,201,0,.35);
    color: #ffc900;
  }
}
button.group_3 {
  background-color: #00c3af;
  &:hover {
    background-color: rgba(0,195,175,.35);
    color: #00c3af;
  }
}